sysname {{ sysname|upper }}
#
vlan {{mvlan|default("699")}}
 name IPTV-Dist
 igmp-snooping enable
 multicast-vlan enable
 multicast-vlan user-vlan {{ pvlan }}
#
vlan {{ pvlan }}
 igmp-snooping enable
 dhcp snooping trusted interface XGigabitEthernet0/0/1
 dhcp snooping trusted interface XGigabitEthernet0/0/2
 dhcp snooping trusted interface XGigabitEthernet0/0/3
 dhcp snooping trusted interface XGigabitEthernet0/0/4
#
interface GigabitEthernet0/0/{{ ftthport }}
 description customer
 port link-type hybrid
 qinq vlan-translation enable
 port hybrid untagged vlan {{mvlan|default("699")}} {{ pvlan }}
{% if ftthport < 10 %} 
 port vlan-stacking untagged stack-vlan {{ pvlan }} stack-inner-vlan 110{{ ftthport }}
{% else %}
 port vlan-stacking untagged stack-vlan {{ pvlan }} stack-inner-vlan 11{{ ftthport }}
{% endif %}
 igmp-snooping group-policy 2070 version 2 vlan {{mvlan|default("699")}}
 l2-multicast-bind vlan {{ pvlan }} mvlan {{mvlan|default("699")}}
 undo lldp enable
 dhcp snooping enable
 dhcp snooping max-user-number 3
 dhcp option82 insert enable
 dhcp option82 circuit-id format user-defined "GigabitEthernet0/0/{{ ftthport }}"
 dhcp option82 remote-id format user-defined "{{ sysname|upper }}"
 stp disable
 stp bpdu-filter enable
 undo lldp enable
 port-security enable
 port-security max-mac-num 5
 port-security aging-time 30
#


