
{% for item in service[inventory_hostname] %}


exit all
configure service
  sdp {{ service[inventory_hostname]['tp_circuitid'] }}0 create
    far-end {{ service[inventory_hostname]['tp_remote_IP']}}
    lsp TP-{{ service[inventory_hostname]['tp_circuitid'] }}0-to-{{ service[inventory_hostname]['remote_sysname'] }}-primary
    path-mtu 1550
    no shutdown
exit all

configure service
  sdp {{ service[inventory_hostname]['tp_circuitid'] }}1 create
    far-end {{ service[inventory_hostname]['tp_remote_IP']}}
    lsp TP-{{ service[inventory_hostname]['tp_circuitid'] }}1-to-{{ service[inventory_hostname]['remote_sysname'] }}-secondary
    path-mtu 1550
    no shutdown
exit all




configure service
  cpipe {{ service[inventory_hostname]['tp_circuitid'] }} customer 1 create
    shutdown
    description "{{ service[inventory_hostname]['tp_cem'] }} to {{ service[inventory_hostname]['remote_sysname'] }}"
    endpoint TP_{{ service[inventory_hostname]['tp_circuitid'] }} create
    exit
    sap 1/{{ service[inventory_hostname]['mda_slot']}}/{{ service[inventory_hostname]['mda_port']}}.1 create
    cem
        packet jitter-buffer {{ service[inventory_hostname]['tp_jitter_buffer'] }} payload-size {{ service[inventory_hostname]['tp_payload_size'] }}
    exit
    ingress
        qos {{ service[inventory_hostname]['tp_qos'] }} 
        exit
        exit
    spoke-sdp {{ service[inventory_hostname]['tp_circuitid'] }}0:{{ service[inventory_hostname]['tp_circuitid'] }}0 endpoint TP_{{ service[inventory_hostname]['tp_circuitid'] }} create
      # If active multipath not enabled, configure precedence to SDP
       # precedence primary
        no shutdown
    exit
    spoke-sdp {{ service[inventory_hostname]['tp_circuitid'] }}1:{{ service[inventory_hostname]['tp_circuitid'] }}1 endpoint TP_{{ service[inventory_hostname]['tp_circuitid'] }} create
       # If active multipath not enabled, configure precedence to SDP
       # precedence 2
        no shutdown
    exit
  no shutdown
  


{% endfor %}