configure
 service
        vprn {{ vprn[inventory_hostname]['vprn_id']}} customer 1 create
            route-distinguisher {{ underlay[inventory_hostname]['BGP']['ASN']}}:{{ vprn[inventory_hostname]['vprn_id']}}
            auto-bind-tunnel
                resolution any
            exit
            vrf-target target:{{ underlay[inventory_hostname]['BGP']['ASN']}}:{{ vprn[inventory_hostname]['vprn_id']}}
{% set loop1 = vprn[inventory_hostname]['interfaces'] %}
{% for interface in loop1 %}
            interface {{ interface }} create
                address

{% set loop2 = loop1[interfaces].intf %}
{% for intf in loop2 %}
    address {{ loop2[intf].ipv4 }}
       no shutdown
       exit
{% endfor %}

{% endfor %}
            
        no shutdown
        exit

  exit all

