
#*********************< Configuration for Teleprotection circuit:  >*******jinja2**************
{% for item in service[inventory_hostname] %}
# Servicetype:  {{ service[inventory_hostname]['tp_cem'] }}
# Service ID:   {{ service[inventory_hostname]['tp_circuitid'] }}
# SDP ID:       {{ service[inventory_hostname]['tp_sdp'] }}
#
# Site:         {{ service[inventory_hostname]['sitename']}}
# CPE:          {{ service[inventory_hostname]['sysname']}}
# IP:           {{ service[inventory_hostname]['IP']}}
# Chassis type  {{ service[inventory_hostname]['chassis']}}
# MDA type      {{ service[inventory_hostname]['mda_type']}}
# MDA slot:     {{ service[inventory_hostname]['mda_slot']}}
# Port on MDA:  {{ service[inventory_hostname]['mda_port']}}
#
# jitter-buffer:{{ service[inventory_hostname]['tp_jitter_buffer'] }}
# payload-size: {{ service[inventory_hostname]['tp_payload_size'] }}
# Delay:        {{ service[inventory_hostname]['tp_delay'] }}
# DSCP marking: {{ service[inventory_hostname]['tp_qos'] }}
# AMP:          {{ service[inventory_hostname]['tp_amp'] }}  (AMP: active multipoint)
#

#---------------------< Port config for site: {{ service[inventory_hostname]['sysname']}}  >---------------------
exit all
configure
  card 1
    mda {{ service[inventory_hostname]['mda_slot']}}
      mda-type {{ service[inventory_hostname]['mda_type']}}
      no shutdown
      exit all

configure
port 1/{{ service[inventory_hostname]['mda_slot']}}/{{ service[inventory_hostname]['mda_port']}}
        description "{{ service[inventory_hostname]['tp_cem'] }} to xxx"
        tdm
            tpif
                channel-group 1
                    encap-type cem
                    no shutdown
                exit
                no shutdown
            exit
        exit
        no shutdown
        exit all

#---------------------< MPLS config  >---------------------
configure router mpls
path TP-{{ service[inventory_hostname]['tp_circuitid'] }}0-primary
shutdown
{% for pri_path in service[inventory_hostname]['primary_path'] %}
  hop {{pri_path['hop']}} {{pri_path['ip']}} strict
{% endfor %} 
no shutdown
exit all

configure router mpls
path TP-{{ service[inventory_hostname]['tp_circuitid'] }}1-secondary
shutdown
{% for sec_path in service[inventory_hostname]['secondary_path'] %}
  hop {{sec_path['hop']}} {{sec_path['ip']}} strict
{% endfor %} 
no shutdown
exit all

configure router mpls
  lsp TP-{{ service[inventory_hostname]['tp_circuitid'] }}0-primary
    shutdown
     from {{ service[inventory_hostname]['IP']}}
     to {{ service[inventory_hostname]['tp_remote_IP']}}
     path-computation-method local-cspf 
       primary TP-{{ service[inventory_hostname]['tp_circuitid'] }}0-primary
     exit
     no shutdown
exit all

configure router mpls
  lsp TP-{{ service[inventory_hostname]['tp_circuitid'] }}1-secondary
    shutdown
     from {{ service[inventory_hostname]['IP']}}
     to {{ service[inventory_hostname]['tp_remote_IP']}}
     path-computation-method local-cspf 
       primary TP-{{ service[inventory_hostname]['tp_circuitid'] }}1-secondary
     exit
     no shutdown
exit all




{% endfor %}