
exit all
configure router mpls
path TP-{{ service[inventory_hostname]['tp_circuitid'] }}0-to-{{ service[inventory_hostname]['remote_sysname'] }}-primary
shutdown
{% for pri_path in service[inventory_hostname]['primary_path'] %}
  hop {{pri_path['hop']}} {{pri_path['ip']}} strict
{% endfor %} 
no shutdown
exit all

configure router mpls
path TP-{{ service[inventory_hostname]['tp_circuitid'] }}1-to-{{ service[inventory_hostname]['remote_sysname'] }}-secondary
shutdown
{% for sec_path in service[inventory_hostname]['secondary_path'] %}
  hop {{sec_path['hop']}} {{sec_path['ip']}} strict
{% endfor %} 
no shutdown
exit all

configure router mpls
  lsp TP-{{ service[inventory_hostname]['tp_circuitid'] }}0-to-{{ service[inventory_hostname]['remote_sysname'] }}-primary
    shutdown
     from {{ service[inventory_hostname]['IP']}}
     to {{ service[inventory_hostname]['tp_remote_IP']}}
     path-computation-method local-cspf 
       primary TP-{{ service[inventory_hostname]['tp_circuitid'] }}0-to-{{ service[inventory_hostname]['remote_sysname'] }}-primary
       no shutdown
     exit
     no shutdown
exit all

configure router mpls
  lsp TP-{{ service[inventory_hostname]['tp_circuitid'] }}1-to-{{ service[inventory_hostname]['remote_sysname'] }}-secondary
    shutdown
     from {{ service[inventory_hostname]['IP']}}
     to {{ service[inventory_hostname]['tp_remote_IP']}}
     path-computation-method local-cspf 
       primary TP-{{ service[inventory_hostname]['tp_circuitid'] }}1-to-{{ service[inventory_hostname]['remote_sysname'] }}-secondary
       no shutdown
     exit
     no shutdown
exit all

