#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
configure
{% set loop1 = underlay[inventory_hostname]['cards'] %}
{% for card in loop1 %}
  card {{ card.card_id }}
    card-type iom-sar
    no shutdown   
{% set loop2 = card.mdas %}
{% for mda in loop2 %}
    mda {{ mda.mda_id }}
       mda-type {{ mda.mda_type }}
       no shutdown
{% endfor %}
{% endfor %}
  exit all

