
{% for item in service[inventory_hostname] %}

exit all
configure
  card 1
    mda {{ service[inventory_hostname]['mda_slot']}}
      mda-type {{ service[inventory_hostname]['mda_type']}}
      no shutdown
      exit all

configure
port 1/{{ service[inventory_hostname]['mda_slot']}}/{{ service[inventory_hostname]['mda_port']}}
        description "{{ service[inventory_hostname]['tp_cem'] }} to {{ service[inventory_hostname]['remote_sysname'] }}"
        tdm
            tpif
                channel-group 1
                    encap-type cem
                    no shutdown
                exit
                no shutdown
            exit
        exit
        no shutdown
        exit all


configure qos
  sap-ingress {{ service[inventory_hostname]['tp_qos'] }} create
    policy-name Relevern
    queue 1 create
      exit
    queue 3 create
      exit
    fc ef create
      queue 3
      exit
    default-fc ef
    default-priority high
    exit all


{% endfor %}