!
router bgp 65002
  router-id 10.14.35.13
#BGP neigbours Spines
  neighbor SPINE_Underlay peer group
  neighbor SPINE_Underlay remote-as 65000
  neighbor 10.14.1.5 peer group SPINE_Underlay
  neighbor 10.14.2.5 peer group SPINE_Underlay
  neighbor 192.168.255.2 remote-as 65002
  neighbor 192.168.255.2 description MLAG PEER
  redistribute connected route-map LOOPBACK
! 
