#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
configure
{% set loop1 = underlay[inventory_hostname]['cards'] %}
{% for card in loop1 %}
  card {{ card.card_id }}
    card-type iom-sar
    no shutdown   
    {% set loop2 = card %}
    loop2 = {{ loop2 }}

{% endfor %}
  exit all
