#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
configure
{% for card in underlay[inventory_hostname]['cards'] %}
  card {{ card }}
    card-type iom-sar   
    {% for mda in underlay[inventory_hostname]cards['mdas'] %}
        mda {{ mda }}                      
        no shutdown      
        {% for port in underlay[inventory_hostname]['ports'] %}
        port {{ port }}
        {% endfor %}
    {% endfor %}
    exit
{% endfor %}
  exit all
