router isis {{ underlay[inventory_hostname]['isis']['process']}}
  net 49.{{ underlay[inventory_hostname]['isis']['net_area']}}.{{ underlay[inventory_hostname]['isis']['system_id']}}.00
  is-type level-2
  !
  address-family ipv4 unicast
!
{% for item in underlay[inventory_hostname]['interfaces'] %}
interface {{ item }}
{% if 'Ethernet' in item %}
  no switchport
{% endif %}
  isis enable {{ underlay[inventory_hostname]['isis']['process']}}
{% if 'Loopback0' in item %}
  isis enable {{ underlay[inventory_hostname]['isis']['process']}}
  isis passive
{% endif %}
!
{% endfor %}