router isis {{ underlay[inventory_hostname]['isis']['process']}}
  net 49.{{ underlay[inventory_hostname]['isis']['net_area']}}.{{ underlay[inventory_hostname]['isis']['system_id']}}.00
  is-type level-2
  !
  address-family ipv4 unicast
!
{% for item in underlay[inventory_hostname]['interfaces'] %}
interface {{ item }}
{% if 'Ethernet' in item %}
  no switchport
{% if 'unnumbered' in underlay[inventory_hostname]['interfaces'][item]['ipv4'] %}
  ip address {{ underlay[inventory_hostname]['interfaces'][item]['ipv4']}} Loopback 0
{% else %}
  ip address {{ underlay[inventory_hostname]['interfaces'][item]['ipv4']}}/{{ underlay[inventory_hostname]['interfaces'][item]['mask']}}
{% endif %}
  isis enable {{ underlay[inventory_hostname]['isis']['process']}}
{% endif %}
{% if 'Loopback0' in item %}
  ip address {{ underlay[inventory_hostname]['interfaces'][item]['ipv4']}}/{{ underlay[inventory_hostname]['interfaces'][item]['mask']}}
  isis enable {{ underlay[inventory_hostname]['isis']['process']}}
  isis passive
{% endif %}
!
{% endfor %}
router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
  router-id {{ underlay[inventory_hostname]['interfaces']['Loopback0']['ipv4']}}
{% for peer in underlay[inventory_hostname]['BGP']['spine-peers'] %}
  neighbor {{ peer }} peer group SPINE_Underlay
{% endfor %}
  redistribute connected route-map LOOPBACK