#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
configure
  card 1
    card-type iom-sar   
{% for item in underlay[inventory_hostname]['mda'] %}
    mda {{ underlay[inventory_hostname]['mda'][mda_id]}}                     
        shutdown               
    mda {{ underlay[inventory_hostname]['mda'][mda_type]}}  
    exit
{% endfor %}
  exit all
