ip dhcp pool {{ ztp[inventory_hostname]['hostname']}}
{% for item in ztp[inventory_hostname]['interfaces'] %}
{% if 'management' in item %}
   host {{ ztp[inventory_hostname]['interfaces'][item]['ipv4']}} 255.255.255.0
{% endif %}
{% endfor %}
   client-identifier {{ ztp[inventory_hostname]['client-id']}}
   option 66 ascii "10.14.10.241"
   option 67 ascii "arista_{{ ztp[inventory_hostname]['hostname']}}_ztp_script.cfg"
   dns-server 8.8.8.8 
   default-router 10.14.10.1 
   lease 0 0 2
!         
tftp-server flash:arista_{{ ztp[inventory_hostname]['hostname']}}_ztp.cfg
tftp-server flash:arista_{{ ztp[inventory_hostname]['hostname']}}_ztp_script.cfg
!