!
#client-id {{ ztp[inventory_hostname]['client-id']}}
!
hostname {{ ztp[inventory_hostname]['hostname']}}
!
{% for item in ztp[inventory_hostname]['interfaces'] %}
!
interface {{ item }}
{% if 'management' in item %}
  ip address {{ ztp[inventory_hostname]['interfaces'][item]['ipv4']}}/{{ ztp[inventory_hostname]['interfaces'][item]['mask']}}
{% endif %}
!
ip routing
!
ip route 0.0.0.0/0 10.14.10.1
!
management api http-commands
   protocol http
   no shutdown
!
username cvpadmin privilege 15 secret a4068becs
username admin privilege 15 secret admin
!
service routing protocols model multi-agent
!
environment fan-speed override 30
!
ntp server 216.239.35.4
ntp server 216.239.35.8
ntp server 216.239.35.12
!
{% endfor %}
