#No spanning-tree for VLAN 4094
#  MLAG:
#    Portchannel: 999
#    interfaces:
#      - Ethernet47
#      - Ethernet48
#    ibgp_vlan: 4091
!
#Create config for Leaf switches MLAG interfaces
!device = {{underlay[inventory_hostname]['hostname']}}
!
vlan {{ underlay[inventory_hostname]['MLAG']['ibgp_vlan'] }}
!
interface port-channel {{ underlay[inventory_hostname]['MLAG']['Portchannel'] }}
 description MLAG PEER LINK - LEAF2
 switchport mode trunk
 switchport trunk group MLAGPEER
!
{% for interfaces in underlay[inventory_hostname]['MLAG']['interfaces'] %}
interface {{ interfaces }}
 switchport
 description MLAG PEER LINK - LEAF2
 channel-group {{ underlay[inventory_hostname]['MLAG']['Portchannel'] }} mode active
{% endfor %}
!
interface vlan {{ underlay[inventory_hostname]['MLAG']['ibgp_vlan'] }}
 description MLAG PEER LINK
{% if 'odd' in  underlay[inventory_hostname]['MLAG']['mlag_side']  %}
 ip address 192.168.255.1/30
{% elif 'even' in underlay[inventory_hostname]['MLAG']['mlag_side']  %}
 ip address 192.168.255.2/30
{% endif %}
 no autostate
!
no spanning-tree vlan-id {{ underlay[inventory_hostname]['MLAG']['ibgp_vlan'] }}
!
